<mat-card matRipple  *ngFor="let spent of contentList" (click)="inspectCurrentSpent(spent)">
    <div>
        <mat-card-header>
            <mat-card-title>{{spent.spentDate}}</mat-card-title>
            <mat-card-subtitle>{{ subTitle }}</mat-card-subtitle>
            <mat-card-subtitle>Total {{spent.totalSpent | currency:'BRL'}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="spent-info" *ngFor="let spentItem of spent.spentList">
                <span>{{spentItem.itemName}}</span>
                <span>{{spentItem.itemValue | currency:'BRL'}}</span>
            </div> 
        </mat-card-content>
    </div>
</mat-card>