@import '../../../assets/colors.scss';

:host ,app-card {
  display: grid;
  grid-gap: 15px;
  padding: 0px 0px 55px;
  max-width: 800px;
  margin: auto;
}

mat-card-header {
  mat-card-title {
    color: $dark;
  }
}

mat-card {
  ::ng-deep .mat-card-header-text {
    margin: 0
  }
}

.spent-info {
  display: grid;
  grid-template-columns: auto auto;
  color: $dark;
  justify-content: space-between;

  span:nth-child(2) {
    font-weight: 500;
  }
}
