<div class="bottom-menu">
    <!-- <button mat-button routerLink="/home">
        <div class="bottom-menu-option">
            <span>
                <mat-icon class="material-icons-round">info</mat-icon>
            </span>
            <span class="menu-option-text">Resumo</span>
        </div>
    </button> -->

    <button mat-button routerLink="/spend">
        <div class="bottom-menu-option">
            <span class="material-icons">
                <mat-icon class="material-icons-outlined">receipt_long</mat-icon>
            </span>
            <span class="menu-option-text">Gastos</span>
        </div>
    </button>
    <button mat-button (click)="openSideMenu()">
        <div class="bottom-menu-option">
            <span class="material-icons">
                <mat-icon class="material-icons-round">settings</mat-icon>
            </span>
            <span class="menu-option-text">Configurações</span>
        </div>
    </button>
</div>

