<div class="bottom-sheet-container">
    <span matRipple class="material-icons material-icons-round close-button" (click)="close(-1)">
        <mat-icon>close</mat-icon>
    </span>
    <span class="message">Você está editando:</span>
    <div class="bottom-sheet-content">
        <span>{{spentItem.itemName}}</span>
        <span>{{spentItem.itemValue | currency : 'BRL'}}</span>
    </div>
    <div class="bottom-sheet-footer">
        <button class="edit-button" mat-button type="button" (click)="close(0)">Editar</button>
        <button class="delete-button" mat-button type="button" (click)="close(1)">Deletar</button>
    </div>
</div>