.spend-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background: #fc5185;
  color: #fff;
  padding: 15px;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 30%);
  position: sticky;

  .first-label {
    width: fit-content;
    font-size: 18pt;
  }

  .total-spent {
    font-size: 22pt;
    font-weight: 500;
    grid-column: 2;
    grid-row: 1 / 3;
    align-self: center;
    text-align: right;
  }

  .current-month {
    text-align: right;
    font-size: 12pt;
    font-weight: 300;
  }
}

.loader-container {
  display: flex;
  justify-content: flex-end;

  .currency-symbol {
    padding-right: 10px;
  }

  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #fff;
  }
}
