<div class="selected-panel-container">
    <div class="selected-panel-card" [@verticalSlideAnimation] (@verticalSlideAnimation.done)="onDone($event)"
        *ngIf="openPanel">
        <h3>Itens selecionados: {{itemCount}}</h3>

        <div class="selected-panel-footer">
            <button class="red-button" mat-button type="button" (click)="closePanel()">Excluir</button>
            <button class="dark-button" mat-button type="button" (click)="closePanel()">Fechar</button>
        </div>
    </div>

</div>