@import '../assets/colors.scss';

.content-router {
  max-height: calc(100vh - (#{$bottom-menu-height} + #{$header-height}));
  min-height: calc(100vh - (#{$bottom-menu-height} + #{$header-height}));
  overflow-y: auto;
  width: 100%;
  display: block;
}
