:host {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9;
  background: rgba(0, 0, 0, .3);
}

.spent-modal {
  background: white;
  color: black;
  height: calc(100% - 70px);
  margin: 25px 20px;
  border-radius: 4px;
  padding: 25px;
  box-sizing: border-box;
}
