<!-- <div class="spent-modal-backdrop" *ngIf="showModal" (click)="showModal = false;"></div>

<div class="spent-modal" [@verticalSlideAnimation] *ngIf="showModal"
    (@verticalSlideAnimation.done)="animationDone($event)">
    sou modal
    <p (click)="fechar()">fechar</p>
</div> -->

<div class="modal-header" mat-dialog-title>
    <span>Adicionar novo gasto</span>
    <span class="modal-close-button" mat-dialog-close>
        <mat-icon class="material-icons-outlined"> close </mat-icon>
    </span>
</div>


<div class="modal-body" [@.disabled]="disableAnimation">

    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of spentInformation">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{item.spentDate}}
                </mat-panel-title>
                <mat-panel-description>
                    Total {{item.spentTotal | currency: 'BRL'}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="spent-list" *ngFor="let folder of item.spentList">
                <div class="spent-list-item">
                    <span>{{folder.itemName}}</span>
                    <span>{{folder.itemDescription}}</span>
                </div>

                <div class="spent-list-item-value">{{folder.itemValue | currency : 'BRL'}}</div>
            </div>

            <mat-dialog-content>
                <form [formGroup]="spentForm">
                    <div class="mat-dialog-content">
                        <mat-form-field class="classelegal" appearance="outline">
                            <mat-label>Item*</mat-label>
                            <input formControlName="itemName" matInput>
                        </mat-form-field>

                        <mat-form-field class="classelegal" appearance="outline">
                            <mat-label>Valor*</mat-label>
                            <input formControlName="itemValue" matInput number>
                            <mat-icon class="material-icons-outlined" matSuffix>paid</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="additional-information" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <input formControlName="itemDescription" matInput number placeholder="Breve descrição">
                        </mat-form-field>
                    </div>

                    <div class="accordion-action-button">
                        <button class="modal-action-button" mat-button (click)="validateInput(item)">
                            <div class="button-container">
                                <span class="material-icons material-icons-round">
                                    <mat-icon>add</mat-icon>
                                </span>
                                <span>Adicionar</span>
                            </div>
                        </button>
                    </div>

                </form>
            </mat-dialog-content>

            <div>
                <h5>* campos obrigatórios</h5>
            </div>
        </mat-expansion-panel>

        <div *ngIf="addNewDate">
            <mat-form-field class="additional-information" appearance="outline">
                <mat-label>Nova Data</mat-label>
                <input matInput [(ngModel)]="newDateInput" (focusout)="insertNewDate(newDateInput)">
            </mat-form-field>
        </div>

        <button mat-button class="modal-action-button">
            <div class="button-container" (click)="addNewDate = !addNewDate">
                <span class="material-icons material-icons-round">
                    <mat-icon>add</mat-icon>
                </span>
                <span> Nova Data</span>
            </div>
        </button>
    </mat-accordion>
</div>