@import '../../../../assets/colors.scss';

$mat-form-field-label-color: rgba($dark, 0.40);

:host,
h5 {
  color: $dark;
}

.spent-modal-backdrop {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 8;
}

.spent-modal {
  background: white;
  color: black;
  border-radius: 4px;
  padding: 25px;
  box-sizing: border-box;
  position: absolute;
  z-index: 9;
  top: 5%;
  left: 25%;
  width: 50%;
  height: 70%;

  @media (max-width: 425px) {
    left: 5%;
    width: 90%;
    height: 70%;
  }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-dialog-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;

  .additional-information {
    grid-column-start: 1;
    grid-column-end: 2 span;
  }

  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;

    .additional-information {
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }
}

mat-icon {
  color: $dark;
  vertical-align: middle;
}

.mat-datepicker-toggle {
  color: $dark;

}

::ng-deep .mat-form-field {

  .mat-form-field-wrapper {
    //space around the input
    padding-bottom: 0;
  }

  ::ng-deep .mat-form-field-label {
    // Text inside input
    color: $dark;
  }

  &.mat-form-field-invalid {
    ::ng-deep .mat-form-field-label {
      color: $red;
    }
  }

  &.mat-focused {

    // when input is focused the label above 
    .mat-form-field-label {
      color: $dark;
    }
  }
}

.mat-form-field-appearance-outline {

  // outline of input
  &.mat-focused {

    //when input is focused 
    ::ng-deep .mat-form-field-outline-thick {
      color: $dark;
    }
  }
}

.mat-form-field-appearance-outline {

  //outline when input is hovered
  ::ng-deep .mat-form-field-outline-thick {
    color: $mat-form-field-label-color;
  }

  &.mat-form-field-invalid {
    ::ng-deep .mat-form-field-outline-thick {
      color: $red;
    }

  }
}

.modal-close-button {
  cursor: pointer;
}

.modal-action-button {
  color: $dark;
  padding: 0 10px 0 0;
  margin: 0;

  &.new-date {
    margin-top: 10px;
  }

  .button-container {
    display: flex;
    align-items: center;

    span {
      &.material-icons {
        font-size: 15pt;
        padding: 0 10px;
      }
    }
  }
}

.accordion-action-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;

  .add-button {
    background-color: $sky-blue-crayola;
    color: $dark;
  }

  .save-button {
    background-color: $medium-spring-green;
    color: $dark;
  }
}

::ng-deep .mat-expansion-panel-body {
  max-height: 300px;
  overflow-y: scroll;
}

.spent-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  color: $dark;

  .spent-list-item {
    display: flex;
    flex-direction: column;

    :last-child {
      color: rgba(#000, 0.4);
    }
  }

  .spent-list-item-value {
    font-weight: 500;

    .material-icons {
      padding-left: 10px;
    }
  }
}

.add-spent-form {
  display: flex;
  justify-content: flex-end;

  span {
    cursor: pointer;
  }
}

.mat-expansion-panel-header {
  ::ng-deep .mat-content {
    @media (max-width: 320px) {
      flex-direction: column;
    }
  }
}

.new-date-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;

  .date-picker-container {
    display: none;
  }
}

.material-icons {
  cursor: pointer;
}

.edit-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .modal-action-button {
    margin: 0;

    &.cancel-button {
      margin-right: 5px;
      padding: 0;
    }

    &.save-button {
      margin-left: 5px;
    }
  }
}
