<!-- <div class="spent-modal-backdrop" *ngIf="showModal" (click)="showModal = false;"></div>

<div class="spent-modal" [@verticalSlideAnimation] *ngIf="showModal"
    (@verticalSlideAnimation.done)="animationDone($event)">
    sou modal
    <p (click)="fechar()">fechar</p>
</div> -->

<div class="modal-header" mat-dialog-title>
    <span>Adicionar novo gasto</span>
    <span class="modal-close-button" mat-dialog-close>
        <mat-icon class="material-icons-outlined"> close </mat-icon>
    </span>
</div>


<div class="modal-body" [@.disabled]="disableAnimation">
    <mat-dialog-content>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of spentInformation">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.spentDate}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Total {{item.spentTotal | currency: 'BRL'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>


                <div class="spent-list" *ngFor="let folder of item.spentList">
                    <div class="spent-list-item">
                        <span>{{folder.itemName}}</span>
                        <span>{{folder.itemDescription}}</span>
                    </div>

                    <div class="spent-list-item-value">{{folder.itemValue | currency : 'BRL'}}</div>
                </div>

                <form [formGroup]="spentForm">
                    <div class="mat-dialog-content">
                        <mat-form-field appearance="outline">
                            <mat-label>Item*</mat-label>
                            <input formControlName="itemName" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Valor*</mat-label>
                            <input formControlName="itemValue" matInput number>
                            <mat-icon class="material-icons-outlined" matSuffix>paid</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="additional-information" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <input formControlName="itemDescription" matInput number placeholder="Breve descrição">
                        </mat-form-field>
                    </div>

                    <div class="accordion-action-button">
                        <button class="modal-action-button" mat-button (click)="validateInput(item)" type="button">
                            <div class="button-container">
                                <span class="material-icons material-icons-round">
                                    <mat-icon>add</mat-icon>
                                </span>
                                <span>Adicionar</span>
                            </div>
                        </button>
                    </div>

                </form>

                <div>
                    <h5>* campos obrigatórios</h5>
                </div>
            </mat-expansion-panel>

            <div class="new-date-container" *ngIf="addNewDate">
                <form [formGroup]="dateForm">
                    <mat-form-field class="additional-information" appearance="outline">
                        <mat-label>Nova Data</mat-label>
                        <input matInput formControlName="newDateInput" (dateChange)="insertNewDate($event)"
                            [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </form>
            </div>

            <button mat-button class="modal-action-button new-date" (click)="addNewDate = !addNewDate">
                <div class="button-container">
                    <span class="material-icons material-icons-round">
                        <mat-icon>add</mat-icon>
                    </span>
                    <span>Nova Data</span>
                </div>
            </button>

        </mat-accordion>
    </mat-dialog-content>
</div>