<!-- <div class="spent-modal-backdrop" *ngIf="showModal" (click)="showModal = false;"></div>

<div class="spent-modal" [@verticalSlideAnimation] *ngIf="showModal"
    (@verticalSlideAnimation.done)="animationDone($event)">
    sou modal
    <p (click)="fechar()">fechar</p>
</div> -->

<div>
    <mat-dialog-content>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
        sou modal
        <p (click)="fechar()">fechar</p>
    </mat-dialog-content>
</div>