@import '../../../../assets/colors.scss';

::ng-deep .mat-bottom-sheet-container {
  overflow: hidden;
}

.bottom-sheet-container {

  .message {
    font-size: 12;
  }

  display: flex;
  flex-direction: column;
  color: $dark;

  .close-button {
    align-self: flex-end;
    min-width: fit-content;
    padding: 0;
    line-height: 0;
  }

  .bottom-sheet-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
  }
}

.bottom-sheet-footer {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;

  button {
    margin: 0 10px;
    width: 100%;
  }

  .edit-button {
    background-color: $dark;
    color: #fff;
  }

  .delete-button {
    background-color: $red;
    color: #fff;
  }
}
