<div class="ajuda">
    <div class="select-items-container" *ngFor="let spent of spentInformation" [@selectPanel]="spent.selected"
        (click)="selectItem(spent)">
        <div class="panel-container">
            <span class="panel-title">
                {{spent.spentDate}}
            </span>
            <span class="panel-description">
                Total {{spent.totalSpent | currency: 'BRL'}}
            </span>
        </div>
    </div>
</div>

<app-select-options [(openPanel)]="openPanel" [(itemCount)]="itemCount"></app-select-options>