@import '../../../assets/colors.scss';

.spend-body {
  display: grid;
  grid-gap: 15px;
  padding: 25px 0 55px;
  max-width: 800px;

  @media (min-width: 900px) {
    margin: auto;
  }

  @media (max-width: 900px) {
    @include global-margin;
  }

  mat-card-header {
    mat-card-title {
      color: $dark;
    }
  }
}

mat-card {
  ::ng-deep .mat-card-header-text {
    margin: 0
  }
}

.spent-info {
  display: grid;
  grid-template-columns: auto auto;
  color: $dark;
  justify-content: space-between;

  span:nth-child(2) {
    font-weight: 500;
  }
}

.action-button {
  position: absolute;
  top: calc(100vh - 120px);
  right: 10px;

  button {
    background-color: $red;
  }
}
