$skobeloff: #236969;
$jungle-green: #43a680;
$medium-spring-green-light: #74f6a7;
$blue-green:#489cc1;


$sky-blue-crayola:#2DE1FC;
$medium-spring-green: #2AFC98;
$malachite: #08E85E;
$emerald: #16C172;
$deep-jungle-green: #214F4B;


$red: #fc5185;
$gray: #f0f0f0;
$dark: #364f6b;
$cyan: #43dde6;


$bottom-menu-height: 70px;
$header-height: 50px;

@mixin global-padding {
  // padding: 0 25px;
  // display: block;
}
