// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './assets/colors.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$spendmanager-angular-primary: mat-palette($mat-indigo);
$spendmanager-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$spendmanager-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$spendmanager-angular-theme: mat-light-theme((color: (primary: $spendmanager-angular-primary,
      accent: $spendmanager-angular-accent,
      warn: $spendmanager-angular-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($spendmanager-angular-theme);

/* You can add global styles to this file, and also import other style files */

html {
  height: 100vh;
}

body {
  scroll-behavior: smooth;
  min-height: 100%;
  background-color: $dark;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, .01);
  -ms-text-shadow: 0 0 1px rgba(0, 0, 0, .01);
  text-shadow: 0 0 1px rgb(0 0 0 / 1%);
  -webkit-text-stroke: 1px transparent;
  -moz-text-stroke: 1px transparent;
  -ms-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
}
